.view-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #52a2c3;
    gap: 2px;
    font-size: medium;
    >svg{
        font-size: medium;
     
    }

}
